################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mario_Fornaroli_CV/obj/Debug
